/********** House **********/
.card {
  background-color: lightseagreen;
  border: 3px double darkslategray;
  max-width: 20rem;
  text-align: center;
  margin: .5rem;
}

h4 {
  text-shadow: .5px .5px;

}

.card-body {

}

.card-text {

}

.card-btn {
  border-radius: 25px;
}


/********** New Room Form **********/

.new-room-form {
  display: flex;
  border: 4px solid hotpink;
  background-color: yellow;
  max-width: 35rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.new-room-form-header {
  border: 4px solid red;
  font-size: x-large;
  margin: auto;
}

.form-body {
  border: 4px solid purple;
  max-width: 30rem;
  
}

.name-input, .area-input {
  margin: .25rem;
}

.name-input {
  border: 4px solid green;

}

.area-input {
  border: 4px solid blue;

}

.new-room-submit-btn {
  background-color: antiquewhite;
  border-radius: 15px;
  padding: .25rem;
  margin: .5rem;
}

